$dotAreaOpacity: 0;
$normalColor: #000;
$noDataColor:   #dddddd;
$hoverColor: #24BD63;
$hoverNoDataColor:   #24BD63;

.geoMap {
    background-color: white;

    .geoMapDot {
        fill: $normalColor;
        cursor: pointer;
        transition: fill 0.4s;
        
        &Hover {
            @extend .geoMapDot;
            fill: $hoverColor;
        
            &NoData {
                @extend .geoMapDotHover;
                fill: $hoverNoDataColor;
            }
        }
        
        &NoData {
            @extend .geoMapDot;
            fill: $noDataColor;
        }
    }
    
    .geoMapDotArea {
        fill: $normalColor;
        opacity: $dotAreaOpacity;
        cursor: pointer;
        
        &Hover {
            @extend .geoMapDotArea;
            cursor: pointer;
            fill: $hoverColor;
            opacity: $dotAreaOpacity * 5;
        
            &NoData {
                @extend .geoMapDotAreaHover;
                fill: $hoverNoDataColor;
            }
        }
        
        &NoData {
            @extend .geoMapDotArea;
            fill: $noDataColor;
        }
    }
}
