$dotAreaOpacity: 0.02;
$dotRadius: 0.35;
$normalColor: #888888;
$noDataColor:   #dddddd;
$hoverColor: #333333;
$hoverNoDataColor:   #333333;

.geoMap {
    background-color: white;

    .geoMapDot {
        fill: $normalColor;
        r: $dotRadius;
        cursor: pointer;
        transition: fill 0.4s;
        
        &Hover {
            @extend .geoMapDot;
            fill: $hoverColor;
        
            &NoData {
                @extend .geoMapDotHover;
                fill: $hoverNoDataColor;
            }
        }
        
        &NoData {
            @extend .geoMapDot;
            fill: $noDataColor;
        }
    }
    
    .geoMapDotArea {
        fill: $normalColor;
        r: $dotRadius * 2;
        opacity: $dotAreaOpacity;
        cursor: pointer;
        
        &Hover {
            @extend .geoMapDotArea;
            cursor: pointer;
            fill: $hoverColor;
            opacity: $dotAreaOpacity * 5;
        
            &NoData {
                @extend .geoMapDotAreaHover;
                fill: $hoverNoDataColor;
            }
        }
        
        &NoData {
            @extend .geoMapDotArea;
            fill: $noDataColor;
        }
    }
}
