.main {
    position: absolute;
    top: 24px;
    left: 10vw;
}

.worldButton {
    position: absolute;
    top: 42px;
    left: 24px;
    font-size: 1.3rem;
    cursor: pointer;
}

.map {
    left: 20vw;
}